.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .page-container {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .link {
      cursor: pointer;
    }
  }
}
